@charset "UTF-8";
/* CSS Document */
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
/* v 2016-04 */
*{
	font-family: arial, 'Hiragino Sans GB', 'Microsoft YaHei', 'STHeiti Light', 'SimHei', 'Helvetica neue', Arial, sans-serif;
}
a{
	color:#01934d;
	text-decoration: none;
}
h2{
	font-size:28px;
}
h2.pagetitle{
	text-align:center;
}
div.navbar-wrapper{
	display:block;
	position:relative;
}
.navbar-wrapper .container{
	width:100%;
	padding-left:0;
	padding-right:0;
	display:block;
	position:relative;
	z-index:8;
}
div.header-deco-box{
	position:absolute;
	width:100%;
	height:100%;
	top:0;	
	background-repeat:no-repeat;
	z-index:-1;
}
div.deco-left{
	left:0;
	background-image:url(/_images/constant/headerdeco-notxt.jpg);
	background-position:center -9px;
	background-size:418px auto;
}


a.logobox{
	display:block;
	width:178px;
	margin:12px auto -11px auto;
	position:relative;
	left:-378px;
}
.logobox img{
	width:178px;
	height:auto;
}
nav.navbar{
	background-image: linear-gradient(to bottom, #282828 0%, #000 100%);
	background-color:#000;
	color:#FFF;
	margin-bottom:0;
}
div.small-buttons-container{
	position:relative;
	width:558px;
	margin:0 auto;
	text-align:right;
	top:-15px;
	left:175px;
}
div.small-buttons-container-mobile{
	position:fixed;
	top:100%;
	left:0;
	width:100%;
	z-index:8892;
	margin:-33px 0 0 0;
	padding:7px 0;
	background-color:#333;
	font-size:12px;
	color:#FFF;
	text-align:center;
	height:33px;
	white-space:nowrap;
	display:none;
}
#shoppingcartbtn, #myaccountbtn, #mypresentbtn, #shoppingcartbtn-confirmed{
	display:inline-block;
	padding:0;
	margin:0 8px;
	font-size:15px;
	position:relative;

}

.small-buttons-container-mobile #shoppingcartbtn-mobile, .small-buttons-container-mobile #myaccountbtn-mobile, .small-buttons-container-mobile #mypresentbtn-mobile, .small-buttons-container-mobile #shoppingcartbtn-confirmed-mobile{
	display:inline-block;
	padding:0;
	margin:0 5px;
	font-size:14px;
	position:relative;
	color:#FFF;
}
#mypresentbtn{
	margin-right:0;
	padding-left:33px;
}
img#gifticon{
	width:35px;
	position:absolute;
	top:-9px;
	left:-5px;
}
img#gifticon-mobile{
	width:35px;
	position:absolute;
	top:-9px;
	left:-5px;
}

div#navbar{
	max-width:980px;
	margin:0 auto;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	background-color:#666;
	background-image: linear-gradient(to bottom, #006a37 0%, #023f22 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006a37', endColorstr='#023f22', GradientType=0);
	color:#FFF;
}
ul.nav.navbar-nav{
	width:100%;
}
.nav > li{
	padding:0;
}
.navbar-default .navbar-nav > li > a{
	color:#FFF;
	text-shadow:none;
	padding-left:25px;
	padding-right:25px;
}
.navbar-default .navbar-nav > li > a:hover{
	color:#CCC;
}

#brandstorybtnbox, #contactbtnbox, #appobtnbox{
	float:right;
}

div.bottom-infobloc{
	position:relative;
	background-color:#f2f2f2;
}
div.bottom-infobloc-inner{
	position:relative;
	text-align:center;
	max-width:980px;
	margin:0 auto;
}
div#why_heshi_box{
	display:block;
	float:none;
	clear:both;
	text-align:left;
	background-color:#f2f2f2;
	padding:35px 0;
	border-bottom-style:solid;
	border-width:1px;
	border-color:#fff;
}

#why_heshi_box span.whyquestion{
	display:inline-block;
	margin:0 20px 0 60px;
	position:relative;
}
#why_heshi_box .whyanswer{
	position:relative;
	display:inline-block;
	margin:0 20px;
	color:#01934d;
}
.blocksmall1, .blocksmall2, .blocksmall3, .blocksmall4{
	float:left;
	width:238px;
	margin:50px 6px 50px 0;
	text-align:left;
}
.blocksmall1{
	text-align:center;
}
img.bottomlogo{
	width:118px;
	opacity:0.7;
}
.blocksmall2, .blocksmall3, .blocksmall4{
	padding-left:25px;
	padding-right:10px;
	border-left-style:solid;
	border-width:1px;
	border-color:#fff;
}
.blocksmall1 h4, .blocksmall2 h4, .blocksmall3 h4, .blocksmall4 h4{
	margin-top:0;
	color:#777;
}
.blocksmall1 p, .blocksmall2 p, .blocksmall3 p, .blocksmall4 p{
	font-size:12px;
	color:#777;
}


footer{
	position:relative;
	padding:8px;
	margin:0;
	background-color:#333;
	color:#FFF;
	text-align:center;
	font-size:12px;
	color:#999;
}
footer p{
	margin:5px;
}
p.qrcodebox{
	width:108px;
	position:relative;
	text-align:center;
	background-color:#FFF;
	padding:0 0 5px 0;
	margin-top:0;
	margin-left:30px;
}
span#num-gift{
	position:relative;
	display:inline-block;
	width:23px;
	height:23px;
	background-color:#c00;
	border-radius:100%;
	color:#fff;
	font-weight:bold;
	padding:0;
	font-size:14px;
	text-align:center;
	border-style:solid;
	border-width:2px;
	border-color:#C00;
}
span#num-shoppinglist, span#num-shoppinglist-c, span#num-orders-c{
	display:inline-block;
	position:relative;
	width:20px;
	height:20px;
	text-align:center;
	line-height:20px;
	background-color:#97f054;
	color:#01330d;
	font-size:12px;
	font-weight:normal;
	border-radius:100%;
	top:-2px;
}
span#num-shoppinglist-mobile, span#num-shoppinglist-c-mobile, span#num-orders-c-mobile{
	display:inline-block;
	position:relative;
	width:16px;
	height:16px;
	text-align:center;
	line-height:16px;
	background-color:#97f054;
	color:#01330d;
	font-size:10px;
	font-weight:normal;
	border-radius:100%;
	top:-3px;
}





/*================================================*/
/*============ 页面载入时的元素 ===============*/
/*================================================*/
div#loadingcover, div#feedbackcover{
	position:fixed;
	width:100%;
	height:100%;
	background-color:rgba(205,225,218,0.68);
	top:0;
	left:0;
	z-index:1088;
	display:none;
}
span#loadingindicontainer{
	display:block;
	position:absolute;
	top:38%;
	left:50%;
	margin-left:-61px;
	width:126px;
	height:122px;
	border-radius:100%;
	overflow:hidden;
	border-style: solid;
	border-width: 2px;
	border-color: #01934d;
	box-shadow: 0 0 3px #593;
}
div#feedbackbox{
	display:block;
	position:absolute;
	top:38%;
	left:50%;
	margin-left:-149px;
	width:298px;
	height:152px;
	border-radius:12px;
	overflow:hidden;
	border-style: solid;
	border-width: 2px;
	border-color: #01934d;
	box-shadow: 0 0 3px #593;
	background-color:#CFC;
	text-align:center;
	background-image:url(/_images/constant/congrats-stars.gif);
	background-size:316px auto;
	background-position:center;
	background-repeat:no-repeat;
}
p.ordersuccwords{
	margin:38px 0 28px 0;
	font-size:18px;
	font-weight:bold;
	padding:3px 0;
	z-index:1;
	position:relative;
	text-shadow: 0 0 2px #FFf;
}
img#loadingindiicon{
	display:block;
	position:absolute;
	width:200px;
	height:150px;
	left:-38px;
	top:-32px;
}
span#loadingtxt{
	display:inline-block;
	width:100%;
	font-size:12px;
	text-align:center;
	top:62px;
	color:#01934d;
	position:absolute;
}
#loadingtxt strong{
	font-size:18px;
	display:inline-block;
	padding:0 5px;
}



a.livechatlinker{
	display:block;
	position:fixed;
	right:0;
	top:35%;
	width:65px;
	height:106px;
	background-color:#6bba62;
	background-image:url(/_images/constant/chat.jpg);
	background-position:center top;
	background-repeat:no-repeat;
	background-size:65px auto;
	box-shadow:0 0 5px rgba(0,82,0,0.8);
	z-index:88;
}
span.messagebtntxt{
	display:block;
	position:absolute;
	width:100%;
	left:0;
	top:62px;
	text-align:center;
	font-size:14px;
	color:#FFF;
}
span.messagebtntxt.new-0{
	font-size:14px;
}
span#newmessagenumindi-normal-btn.m-n-0{
	display:none;
}
span.livechatlinkertxt-smallversion{
	display:inline-block;
	font-size:14px;
	color:#FFF;
	padding:5px;
	display:none;
}
span.livechatlinkertxt-smallversion-txt{
	display:inline-block;
	margin-top:8px;
}






br.clear{
	clear:both;
	height:0;
}

div#messagenotification{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:5px;
	z-index:829;
	display:none;
}
div#messagenotification.show-message{
	display:block;
}
p#message-noti-txt{
	position:relative;
	width:252px;
	margin:0 auto;
	padding:5px;
	background-color:#C00;
	font-size:14px;
	color:#FFF;
	text-align:center;
	border-radius:0 0 5px 5px;
	box-shadow:0 0 5px rgba(0,0,0,0.58);
}
a#messageopenlinker{
	display:inline-block;
	padding:1px 8px;
	border-radius:3px;
	background-color:rgba(255,255,255,0.29);
	margin-left:12px;
	color:#FFF;
}
span#newmessagenumindi-normal-btn{
	display:inline-block;
	font-size:14px;
	padding:1px 3px;
}






@media (max-width: 995px){
	div.blocksmall1{
		display:none;
	}
	div.blocksmall2{
		margin-left:58px;
	}
	div.blocksmall2, div.blocksmall3, div.blocksmall4{
		width:208px;
	}
	
	a.logobox{
		margin-left:20px;
		margin-right:0;
		left:0;
	}
	div.small-buttons-container{
		left:0;
		margin-left:auto;
		margin-right:35px;
	}
	/*
	a.livechatlinker{
		display:block;
		position:relative;
		top:0;
		left:0;		
		width:100%;
		height:136px;
		margin:0 auto;
		background-color:#f2f2f2;
		box-shadow:none;
		padding-bottom:25px;
		background-position: center top;
	}
	*/
	#why_heshi_box span.whyquestion{
	  margin:0 15px 0 60px;
	}
	#why_heshi_box a.whyanswer{
		margin:0 9px;
	}
}
@media (max-width: 835px){
	.navbar-default .navbar-nav > li > a{
		padding-left:22px;
		padding-right:22px;
	}
	#why_heshi_box .whyanswer{
		margin:0 5px;
	}
}

@media (max-width: 767px){
	#brandstorybtnbox, #contactbtnbox, #appobtnbox {
			float:none;
	}
	div.small-buttons-container{
		text-align:center;
    top: 0px;
    left: 0px;
		padding:25px 0;
		width:auto;
		margin-right:auto;
	}
	.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse{
		margin-left:0;
		margin-right:0;
	}
	p.qrcodebox{
		margin:0 auto;
	}
	div.deco-left{
		left:-188px;
		background-image:url(/_images/constant/headerdeco.jpg);
		background-position:right 42px;
		background-size:418px auto;
	}
	a.logobox{
		margin-left:auto;
		margin-right:auto;
	}
	
	#why_heshi_box span.whyquestion, #why_heshi_box .whyanswer{
		display:block;
		width:200px;
		margin:3px auto;
		padding:5px 0 0 43px;
		text-align:left;
	}
	
}


@media (max-width: 762px){
	nav.navbar{
		display:block;
		position:fixed;
		width:100%;
		top:0;
		left:0;
	}
	
	div.small-buttons-container{
		display:none;
	}
	div.small-buttons-container-mobile{
		display:block;
	}
	
	a.logobox{
		position:relative;
		height:50px;
		z-index:88;
		margin:0;
		padding:0;
	}
	img#site-logo{
		position:fixed;
		left:16px;
		top:10px;
		width:102px;
		height:auto;
	}
	nav.navbar{
		z-index:87;
	}
	
	
	
	div.blocksmall2, div.blocksmall3, div.blocksmall4{
		float:none;
		display:block;
		width:238px;
		border:none;
		text-align:center;
		margin:0 auto;
		padding:15px 10px;
	}
	div.bottom-infobloc-inner{
		padding-top:35px;
	}
	
	footer {			
			padding-bottom: 28px;
			background-color: #999;
			color: #FFF;
			visibility:hidden;
	}
	
}

@media (max-width: 562px){
	#shoppingcartbtn, #myaccountbtn, #mypresentbtn, #shoppingcartbtn-confirmed{
		 margin: 0px 8px 8px 0;
    font-size: 14px;
	}
	a.livechatlinker{
		background-image:none;
		width:25px;
		background-color:6bba62;
	  height:auto;
	}
	span.messagebtntxt.new-0{
		display:none;
	}
	span.livechatlinkertxt-smallversion{
		display:inline-block;

	}
}