h1 {
    position: relative;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #000;
    margin-top: 0px;
    text-align: center;
}

form {
    position: relative;
}

p {
    margin-top: 30px;
}

label {
    background-color: #fff0ff;
}

.formbox {
    width: 450px;
}

.alert {
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    color: #F00;
    position: relative;
    left: 40px;
}

span {
    color: #F00;
}

.logout {
    position: absolute;
    left: 100%;
    top: 20px;
    margin-left: -58px;
}

.mnavic {
    position: absolute;
    left: 380px;
    top: 20px;
}

.mnavic a {
    margin: 10px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

.mnavi {
    background-color: #CFF;
    border-style: outset;
    border-width: 2px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: #000;
}

.instruction {
    background-color: #FF9;
    color: #000;
    font-weight: bold;
}

.progress {
    position: relative;
    width: 260px;
    border: 1px solid #AAA;
    padding: 1px;
    border-radius: 3px;
    margin: 12px 0px;
    display: none;
}

.bar {
    background-color: #CCC;
    width: 0%;
    height: 13px;
    border-radius: 3px;
    background-image: url(/_images/constant/animated-overlay.gif);
    position: absolute;
}

.percent {
    position: absolute;
    display: inline-block;
    top: 3px;
    left: 48%;
    font-size: 10px;
    display: none;
}

#footer {
    margin: 30px auto;
}

form#addnewjewelry,
div.picture {
    display: block;
    background-color: #CFC;
    padding: 20px 50px;
    max-width: 880px;
    margin: 0 auto;
    left: 0;
}

form#addnewjewelry p {
    background-color: #FFF;
    padding: 12px;
}

input#dia_size_min,
input#dia_size_max {
    width: 58px;
}

p.alert {
    text-align: center;
    font-size: 24px;
    color: #F00;
    left: 0;
}

.picture form {
    margin: 10px 0;
    background-color: #FFF;
    display: block;
    padding: 12px;
    width: 238px;
    overflow: hidden;
    float: left;
    margin-right: 20px;
}

.picture input {
    display: block;
    margin-top: 15px;
}

.picture img {
    width: auto;
    height: 58px;
}

img.uploadedpreviewpic {
    position: relative;
    height: 68px;
    width: auto;
    margin: 5px;
}

div#contentwrapper {
    position: relative;
    max-width: 566px;
    margin: 0 auto;
}

input.formbox {
    position: relative;
    width: 185px;
    padding: 3px;
    margin-left: 12px;
}

#contentwrapper p {
    background-color: #9FF;
    padding: 12px;
    margin: 3px;
}
